.wrapper {
   position: relative;
   width: 100%;

   .inner {
      position: relative;
      width: 100%;

      overflow: hidden;

      .main {
         position: relative;
         width: 69%;
         height: 6px;

         background-color: var(--loading-fetch-color);
         transform: translateX(-100%);
         animation: fetchLoading 2s linear infinite;

         &::after {
            position: absolute;
            content: '';

            width: 69%;
            height: 100%;

            background-color: var(--loading-fetch-color);

            left: -190%;
            transform: scaleX(0.73);

            animation: fetchLoadingAfter 2s linear infinite;
         }
      }
   }
}

@keyframes fetchLoading {
   0% {
      transform: translateX(-100%);
   }
   46% {
      transform: translateX(139%);
      animation-timing-function: cubic-bezier(0.28, 0.62, 0.37, 0.91);
   }
   90% {
      transform: translateX(336%);
   }
   100% {
      transform: translateX(336%);
   }
}

@keyframes fetchLoadingAfter {
   0% {
      transform: scaleX(1);
   }
   46% {
      transform: scaleX(1);
      animation-timing-function: cubic-bezier(0.28, 0.62, 0.37, 0.91);
   }
   90% {
      transform: scaleX(0.69);
   }
   100% {
      transform: scaleX(0.69);
   }
}
