.wrapper {
   position: relative;

   display: inline-flex;
   justify-content: center;
   align-items: center;

   min-width: 100px;

   line-height: 22px;
   border-radius: 13px;
   cursor: pointer;
   background-color: var(--white);
   border: 1px solid transparent;
   user-select: none;
   padding: 9px 16px;

   .ripple-amination {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 13px;
   }

   & > .inner {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--black);

      cursor: pointer;
   }

   &.small {
      border-radius: 6px;
      .ripple-amination {
         border-radius: 6px;
      }
   }

   &.disable {
      opacity: 0.5;
      pointer-events: none;
      background-color: var(--grey-btn-hover);
      .inner {
         color: var(--text-bland);
      }
   }

   .onlyText {
      border: none;
      background-color: transparent;
   }
}

.title::first-letter {
   text-transform: capitalize !important;
}

.icon + .title,
.title + .icon {
   margin-left: 9px;
}

.icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   &.right {
      position: absolute;
      right: 16px;
   }
}

.hover {
   transition: 0.03s linear;

   &:hover {
      background-color: var(--grey-btn-hover);
   }
}

.rounded {
   border-radius: 99999px;
   box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
   border-color: rgba(22, 24, 35, 0.12);
   padding: 9px 16px;

   .ripple-amination {
      border-radius: 999px;
   }

   &:hover {
      background-color: rgba(22, 24, 35, 0.03);
      border-color: rgba(22, 24, 35, 0.2);
   }
}

.primary {
   background-color: var(--btn-submit);
   border-color: var(--btn-submit);

   .inner {
      color: var(--white);
   }

   &:hover {
      border-color: var(--btn-submit);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.06)), var(--btn-submit);
   }

   &.transparent {
      background-color: var(--btn-submit);
   }
}

.grey {
   background-color: var(--grey-btn);
   border-color: var(--primary-second);

   .inner {
      color: var(--black);
   }

   &:hover {
      border-color: var(--primary-second);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
         var(--grey-btn-hover);
   }
}

.transparent {
   background-color: transparent;
   padding: 3px;
   min-width: 0;
   border-radius: 999px;
   display: flex;

   .ripple-amination {
      border-radius: 999px;
   }

   .title {
      display: inline-block;
      text-align: center;
      line-height: 0rem;
   }
}

.outline {
   .inner {
      color: var(--text-color);
   }
   border-color: var(--primary-second);
}

.text {
   &:hover {
      text-decoration: underline;
   }
}

.small {
   min-width: 88px;
   padding: 2px 16px;
}

.medium {
   min-width: 88px;
   padding: 6px 16px;
}

.large {
   padding: 13px 16px;
   min-width: 146px;
}

.animation {
   position: absolute;
   height: calc(100% + 2px);
   width: calc(100% + 2px);
   left: -1px;
   top: -1px;
   border-radius: 999px;
   border: 1px solid transparent;
   background-color: transparent;
   user-select: none;

   .ripple-amination {
      border-radius: 999px;
   }
}

.onlyText {
   border: none;
   background-color: transparent !important;
}
