:root {
   --width-episodes-image: 153px;
   // --height-header-product-detail: 76px;

   --first-col: 43px;
   --second-col: 390px;
   --third-col: 90px;
   --fourth-col: 90px;
   --fifth-col: 143px;
   --sixth-col: 69px;
}

.wrapper {
   height: 100%;
   overflow: auto;
}

.inner {
   width: 100%;
   display: flex;
   flex-direction: column;

   margin: auto;
   height: 100%;
}

.separator {
   width: 100%;
   height: 1.3px;
   background-color: rgba(0, 0, 0, 0.1);
   margin: 6px 0 13px 0;
   margin-top: 26px;
}

.main-content {
}

.main-content-top {
   min-width: calc(var(--sixth-col) + var(--first-col) + var(--second-col) + var(--third-col) + var(--fourth-col) + var(--fifth-col));

   height: var(--height-header-product-detail);
   position: sticky;
   width: calc(100%);
   background-color: var(--white);
   top: 0;
   z-index: 1000;
   display: flex;
   justify-content: space-between;
   padding: 0 16px;

   // box-shadow: 3px 0 3px 1px var(--box-shadow-color);

   .main-content-top-left {
      display: flex;
      align-items: center;
      .header-title {
         margin-left: 19px;
         font-size: 2.5rem;
      }
   }

   .main-content-top-right {
      display: flex;
      justify-content: space-between;
      margin: 19px;
   }
}

.filter {
   position: sticky;
   background-color: var(--white);
   top: calc(var(--height-header-product-detail));
   z-index: 1000;

   display: flex;
   align-items: center;
   width: 100%;

   border-top: 1px solid var(--border-color);
   border-bottom: 1px solid var(--border-color);

   .filter-icon {
      font-size: 2.3rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      padding: 13px 16px;
   }

   .filter-list {
      font-size: 1.6rem;
      display: flex;
      position: relative;

      max-width: 63%;
      .filter-item {
         border-radius: 9999px;
         border: 1px solid var(--border-color);
         display: flex;
         align-items: center;
         background-color: var(--hover-color);
         cursor: pointer;
         white-space: nowrap;

         &:hover {
            background-color: var(--hover-color-dark);
         }

         .filter-item-title {
            padding: 6px 13px;
            padding-right: 33px;
            border-radius: 9999px;
         }

         .filter-item-icon {
            display: flex;
            align-items: center;
            right: 9px;
            cursor: pointer;
            position: absolute;
            color: var(--text-bland);

            &:hover {
               color: var(--text-color);
            }
         }

         &:not(:first-child) {
            margin-left: 9px;
         }
      }
   }

   .filter-main {
      flex: 1;
      margin-left: 13px;

      & > input {
         font-size: 1.6rem;
         width: 100%;
         margin: 16px 0;
         padding-right: 36px;
      }
   }
}

.table-col {
   border-bottom: 1px solid var(--border-color);
   padding-right: 6px;

   &:last-child {
      padding-right: 19px;
      display: flex;
      justify-content: flex-end;
   }

   & > div {
      padding-top: 16px;
   }
}

.table-header {
   color: var(--text-bland);
   display: flex;

   .table-col {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      .table-col-icon {
         display: flex;
         margin-left: 6px;
         align-items: center;
         justify-content: center;
      }
   }

   & > div:not(:first-child) {
      height: 43px;
      line-height: 43px;
      padding-left: 6px;
   }

   & > div:last-child {
      padding-left: 0;
      padding-right: 36px;
   }

   & > div:first-child {
      display: flex;
      align-items: center;
      height: 43px;
      line-height: 43px;
      padding-left: 19px;

      & > input[type='checkbox'] {
         width: 16px;
         height: 16px;
      }
   }
}

.table-content {
   color: var(--text-bland);
}

.table-row {
   display: flex;

   &:hover {
      background-color: var(--hover-color);
   }

   & > div:not(:first-child) {
      padding-left: 6px;
   }

   & > div:first-child {
      display: flex;
      align-items: center;
      line-height: 43px;
      padding-left: 19px;

      & > input[type='checkbox'] {
         width: 16px;
         height: 16px;
      }
   }

   .category {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      display: -webkit-box;
   }
   .status {
   }
   .recent {
   }
   .count_episodes {
      text-align: right;
      padding-right: 16px;
   }
}

.episodes {
   display: flex;
   padding: 9px;
   padding-left: 13px;

   .wrapper-image-episodes {
      display: flex;
      flex-shrink: 0;

      position: relative;
      border-radius: 3px;
      overflow: hidden;
      width: 144px;

      &::before {
         content: '';
         display: block;
         padding-top: 56.25%;
         background-color: aliceblue;
      }

      & > img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         cursor: pointer;
         -webkit-user-drag: none;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
      }

      .layer {
         line-height: normal;
         position: absolute;
         right: 0;
         bottom: 0;

         height: 43%;
         width: 49%;

         border-top-right-radius: 3px;
         border-bottom-right-radius: 3px;
         border-top-left-radius: 369px;
         border-bottom-left-radius: 39px;

         background-color: rgba(1, 1, 1, 0.6);
         color: var(--white);

         & > span {
            position: absolute;
            right: 19px;
            bottom: 26px;
            font-size: 1.3rem;
            font-weight: 550;
         }

         .layer-icon {
            position: absolute;
            right: 9px;
            bottom: 0px;
            font-size: 2.3rem;
         }
      }
   }

   .episodes-right {
      margin-left: 16px;
      padding: 6px 0;

      max-width: calc(100% - var(--width-episodes-image));

      .episodes-right_name {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         padding-right: 9px;

         & a:hover {
            text-decoration: underline;
         }
      }

      .episodes-right_description {
         font-size: 1.4rem;
         margin-top: 3px;
         display: block;
      }
   }
}

.episodes-right_controls {
   display: none;

   & > .controls-icon {
      color: var(--text-bland);
      display: flex;
      font-size: 2.6rem;
      padding: 3px 6px;
      padding-bottom: 3px;
      margin-top: 9px;

      cursor: pointer;

      &:not(:first-child) {
         margin-left: 16px;
      }

      &:hover {
         color: var(--text-color);
      }
   }
}

.footer-pagination {
   padding: 13px 16px;

   color: var(--text-bland);

   border-bottom: 1px solid var(--border-color);

   .pagination-inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
}

.pagination-inner {
   & > span {
      margin-right: 9px;
      font-size: 1.4rem;
   }
   .wrapper-combobox {
      display: flex;
   }

   .page-icon {
      font-size: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      margin-left: 9px;

      color: var(--text-bland);

      &:not(:first-child) {
      }
   }

   .first-page {
   }
   .prev-page {
   }
   .next-page {
   }
   .last-page {
   }

   .current-page {
      margin-left: 13px;
   }
}

.wrapper-combobox {
   cursor: pointer;
   user-select: none;
   position: relative;
   border: 1px solid var(--border-color);
   border-radius: 9px;

   .inner-combobox {
      padding: 6px 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      .combobox-left {
         font-size: 1.7rem;
         padding: 0 6px;
      }
      .combobox-right {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 2.6rem;
         margin: -3px;
         margin-left: 0px;
      }
   }

   .select-combobox {
      visibility: hidden;

      position: absolute;
      bottom: -1px;
      left: -1px;
      width: calc(100% + 2px);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      border: 1px solid var(--border-color);
      border-radius: 9px;
      background-color: var(--white);

      overflow: hidden;

      .select-combobox-item {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         padding: 6px 26px;

         &:hover {
            background-color: var(--border-color);
         }
      }
   }
}
